<h1><%=t(:recordings)%></h1>

<%= link_to t(:model_new, model: Recording), new_recording_path %>

<table id="recordings">

</table>
<%= turbo_frame_tag "load_more", src: recordings_path(format: :turbo_stream), loading: :lazy %>
