<%= render @recording %>

<div>
  <%= link_to t(:model_edit, model: Recording), edit_recording_path(@recording) %> |
  <%= link_to t(:model_back_to_index, model: Recording), recordings_path %>

  <%= button_to t(:model_destroy, model: Recording), @recording, method: :delete %>
</div>
