<div id="<%= dom_id privilege %>">
  <p>
    <strong>User:</strong>
    <%= privilege.user.full_name %>
  </p>

  <p>
    <strong>Podcast:</strong>
    <%= privilege.podcast.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= privilege.role %>
  </p>

</div>
