<h1>Editing privilege</h1>

<%= render "form", privilege: @privilege %>

<br>

<div>
  <%= link_to "Show this privilege", @privilege %> |
  <%= link_to "Back to privileges", privileges_path %>
</div>
