<h1><%=t(:model_editting, model: Privilege)%></h1>

<%= render "form", privilege: @privilege %>

<br>

<div>
  <%= link_to  t(:model_show, model: Privilege), edit_podcast_privilege_path(@podcast, @privilege) %> |
  <%= link_to t(:model_back_to_index, model: Privilege), podcast_privileges_path(@podcast) %>
</div>
