<p style="color: green"><%= notice %></p>

<h1>Privileges</h1>

<div id="privileges">
  <% @privileges.each do |privilege| %>
    <%= render privilege %>
    <p>
      <%= link_to "Show this privilege", privilege %>
    </p>
  <% end %>
</div>

<%= link_to "New privilege", new_privilege_path %>
