<h1><%=t(:model_editting, model: User)%></h1>

<%= render "form", user: @user %>

<br>

<div>
<% if current_user.is_admin? %>
  <%= link_to t(:model_back_to_index, model: User), users_path %>
<% end %>
</div>
