/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
form.inline-form {
  display: inline;
}

div.sessions.login {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

div.sessions.login div.bible {
  grid-column: 2;
  align-self: center;
}

div.sessions.login div.bible blockquote {
  margin-bottom: .5rem;
  font-size: 20pt;
}
div.sessions.login div.bible cite {
  margin-left: 3rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 0;
  align-items: center;
}

nav ul li {
  margin: 5px;
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
}

nav ul li.split {
  margin-left: auto;
}

nav .logo {
  font-size: 2rem;  
}

div.card {
  border: 2px solid var(--accent-bg);
  margin-bottom: 20px;
}
div.card.podcast {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 1.5rem 1fr;
  
}
div.card.podcast img {
  grid-column: 1;
  grid-row: 1/ span 2 ;
}

div.card.podcast div.name {
  grid-column: 2;
  font-weight: 900;
}

div.card.podcast div.description {
  grid-column: 2;
}

div.card.podcast div.actions {
  grid-column: 3;
  grid-row: 1 / span 2  
}

div.category-chooser {
  padding:10px;
  background-color:  var(--accent-bg);
  border: 2px dashed var(--text);
  cursor: pointer;
  
}

div.category-chooser.opened span.select {
  display:none;  
}

div.category-chooser.closed div.categories {
  height:0px;
  overflow:hidden;
}

table, tr, td {
  border-color: var(--accent-bg2)
}

svg * {
  fill: var(--text);
}
svg.ok *{
  fill: green;
}

svg.warning *{
  fill: yellow;
}

table tr td {
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  max-height: 3px;
  height:10px;
  padding: 2px 10px;
  min-width: 50px;
}

table tr td a.row_link {
  display: inline-block;
  height: 1.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-decoration: none;
  color: var(--text);
  
}

table tr td.row_link {
  cursor: pointer;
}

table tr td a.row_link span.theme {
  color: var(--text-light);
}
input[type=text], input[type=password]{
  width: 100%;
}

div.warning-banner {
  background-color: var(--bg-yellow);
  padding: 15px;
  margin-bottom: 30px;
}
div.warning-banner div.title{
  font-weight: 900;
}

div.alert {
  padding: 15px;
  margin-bottom: 30px; 
}

div.alert-warning {
  background-color: var(--bg-yellow);
}

div.alert-success {
  background-color: var(--bg-green);
}

div.alert-danger {
  background-color: var(--bg-red);
}