/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
form.inline-form {
  display: inline;
}

div.sessions.login {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

div.sessions.login div.bible {
  grid-column: 2;
  align-self: center;
}

div.sessions.login div.bible blockquote {
  margin-bottom: .5rem;
  font-size: 20pt;
}
div.sessions.login div.bible cite {
  margin-left: 3rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 0;
  align-items: center;
}

nav ul li {
  margin: 5px;
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
}

nav ul li.split {
  margin-left: auto;
}

nav .logo {
  font-size: 2rem;  
}

div.card {
  border: 2px solid var(--accent-bg);
  margin-bottom: 20px;
}
div.card.podcast {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 1.5rem 1fr;
  
}
div.card.podcast img {
  grid-column: 1;
  grid-row: 1/ span 2 ;
}

div.card.podcast div.name {
  grid-column: 2;
  font-weight: 900;
}

div.card.podcast div.description {
  grid-column: 2;
}

div.card.podcast div.actions {
  grid-column: 3;
  grid-row: 1 / span 2  
}