<p>
Dear <%= @user.full_name %>
</p>
<p>
A password reset has been requested. Please enter <b><%=@recovery.code%></b> to reset your password.
</p>
<p>
Greetings from the password-reset-monkey at Mark423
</p>